/* Contenedor de botones */
.botones-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    gap: 10px; /* Espacio entre botones */
    flex-wrap: wrap; /* Evita que se rompa en pantallas chicas */
}

.botones-container button {
    width: 120px; /* Ajusta el tamaño */
    height: 40px;
    font-size: 14px;
}

/* Botón QR */
.qr-btn {
    width: 120px;
    height: 40px;
    font-size: 14px;
    background-color: #222;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    color: white;
}

.qr-btn:hover {
    background-color: #444;
}

/* Fondo general */
body {
    background-color: #131413;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header con logo */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000; /* Negro */
    padding: 20px 0;
}

header .logo {
    width: 200px; /* Más grande que antes */
    height: auto;
}

/* Imagen orbit.png centrada */
.logo {
    display: block;
    margin: 20px auto;
    max-width: 300px;
    max-height: 300px;
}

#reader {
    width: 400px !important;
    margin: 20px auto;
}

/* Mensaje de código válido */
#mensaje {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
    padding: 10px;
    border-radius: 6px;
}
